body{
    margin: 0;
    padding: 0;
    background-color: rgb(255, 205, 210);
}

/* topbar 설정 */

.topBar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    position: sticky;
    z-index: 100;
    color: inherit;
    background-color: black;
}
.topBar ul{
    display: flex;
    align-items: center;
    padding: 0;
    position: relative;
}
.topBar ul li{
    list-style: none;
    margin: 15px;
    font-weight: bold;
    font-size: 14px;
}
.topBar ul li a{
    color: white;
    text-decoration: none;
    word-break: keep-all;
}

.dots{
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 18px;
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
.Home{
    height: calc(100vh - 52px);
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    z-index: 1;
}
/* 버튼팝업----------------------------------- */
.popup {
 display: none;
 position: fixed;
 z-index: 1060;
 left: 140px;
 top: 50px;
 overflow: auto;
 background-color: rgba(0,0,0,0);
}

.popup-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  border-radius: 20px;
  background-color: black;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.popfirst{
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    color: rgb(255, 205, 210);
    word-break: keep-all;
}
.popfirstdiv{
    white-space: nowrap;
    padding-bottom: 10px;
}

.bg{
    width: 100vw;
    height: 100vw;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
}
.popsecond{
    padding-top: 15px;
    color: rgba(255, 205, 210, 0.906);
    font-weight: 600;
    border-top: 1px solid grey;
}
.popsecond div{
    padding-left: 0;
    padding-bottom: 15px;
}

/* 버튼팝업----------------------------------- */
.searchBar{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    color: gray;
    margin-left: 8%;
    justify-content: flex-start;
    border: 1px solid transparent;
    padding: 2px;
    transition: border 0.2s ease;
}
.searchBar div{
    margin: 10px;
}
.inputBox{
    width: 100%;
}
.searchBar:hover{
    border: 2px solid grey;
}
.inputclass{
    width: 100%;
    height: 100%;
    border: none;
    font-weight: 500;
    font-size: 16px;
}
.box3{
    background-color: grey;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    width: 5%;
    text-align: center;
    display: flex;
    justify-content: center;
    opacity: 0.4;
}
/* -------------------------------- */  
.iconConnect{
    display: flex;
    justify-content: center;
    padding-left: 19%;
    height: 80%;
}
.Connect{
    border: 1px solid white;
    border-radius: 30px;
    width: 120px;
    margin-left: 15px;
    margin-right: 10px;
}
.drawer-opener{
    background-color: transparent;
    border: none;
    border-top-left-radius: 9999px;
    border-bottom-left-radius: 9999px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    padding: 20px 0px 0px 17px;
    color: white;
}
.drawer{
    background-color: black;
    color: black;
}
.drawer .content {
    width: 100%;
    height: 97%;
    position: absolute;
    top: 0;
    background-color: rgb(255, 205, 210);
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
}
.arrowBox{
    display: flex;
    padding: 10px;
    border: 1px solid white;
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    width: 80%;
    height: 80px;
    margin-left: 10px;
    font-weight: bold;
    font-size: large;
    cursor: grab;
}

/* 개인 정보 설정 */

.my-title{
    position: absolute;
    top: 100px;
    left: 20px;
    font-size: 50px;
    font-weight: bold;
}

.my-info{
    width: 700px;
    height: 400px;
    position: absolute;
    position: relative;
    top: 250px;
    left: 50%;
    transform: translate(-50%,0);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 20px;
    color: rgb(255, 205, 210);
    background-color: black;
}

.my-info div{
    width: 420px;
    height: 120px;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.my-info label{
    height: 20px;
    position: absolute;
    top: 20px;
    left: 10px;
}

.my-info input{
    width: 300px;
    height: 20px;
    position: absolute;
    top: 20px;
    left: 110px;
}

.my-info p{
    width: 300px;
    height: 30px;
    font-size: 12px;
    position: absolute;
    left: 110px;
}

.my-info .current-nick{
    top: 50px;
}

.my-info .nickname-same{
    top: 80px;
    color: red;
}

.my-info .user-cash{
    top: 50px;
}

.nickname-change,
.acount-charge{
    width: 70px;
    height: 40px;
    position: absolute;
    right: 50px;
    border-radius: 10px;
}

.nickname-change{
    top: 12px;
}

.acount-charge{
    top: 132px;
}

.go-to-main{
    width: 120px;
    height: 70px;
    font-size: 24px;
    position: absolute;
    bottom: 10px;
    transform: translate(-50%,0);
    border-radius: 20px;
}

.my-info button{
    cursor: pointer;
    box-shadow: 2px 2px 0 0;
    background-color: rgb(255, 205, 210);
}