
/* help center 부분 */
body{
    background-color: rgb(255, 205, 210);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
    width: 100%;
    height: 300px;
    background-color: black;
    color: rgb(255, 205, 210);
    position: relative;
}
.head p{
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    left: 130px;
    bottom: 15px;
}
.contentbox{
    width: 60vw;
    height: max-content;
    border-radius: 30px;
    margin-top: 50px;
    padding: 25px;
    background-color: white;
}
.addbox{
    display: flex;
    justify-content: flex-end;
}
.add{
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 2em;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
}

#list{
    width: 60vw;
    height: max-content;
    margin-top: 10px;
    /* border: 1px solid gray ; */
    /* border-radius: 20px; */
    border-top: 1px solid gray;
}
.write{
    background-color: aqua;
}
.qna{
    width: 60vw;
    height: 100px;
    resize: none;
    margin-top: 5px;
}
.buttonbox{
    display: flex;
    justify-content: flex-end;
}
.add2{
    width: 80px;
    height: 30px;
    background-color: black;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 5px;
    font-weight: bold;
}
li{
    width: 55vw;
    height: 50px;
    /* margin: 5px; */
    display: flex;
    margin: 0;
    padding: 0;
}
li > div{
    width: 250px;
    height: max-content;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid; */
    overflow: hidden;
    margin: 0;
    padding: 0;
}
li > .ind{
    width: 70px;
}
li > .bt{
    width: 70px;
}
li > .qe{
    width: 450px;
}
#bottom{
    display: flex;
    justify-content: center
}
/* #page{
    display: flex;
    flex-direction: row;
} */
/* .pagenation li{
    width: 20px;
    height: 20px;
    padding: 0;
} */
.pagebtn{
    font-size: 15px;
    border: none;
    background-color: white;
    cursor: pointer;
}
