.header-bar{
    width: 100%;
    height: 80px;
    display: flex;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
}

.main-btn{
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;

}

.logo{
    width: 30px;
    height: 30px;
    background-image: url(https://ww1.freelogovectors.net/svg10/uniswap_logo-freelogovectors.net_.svg);
    background-size: cover;
    border: 1px solid;
}

.main-btn div{
    width: 50px;
    height: 50px;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-title{
    font-size: 100px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0);
    font-weight: bold;
}

.login-area{
    width: 300px;
    height: 230px;
    position: absolute;
    position: relative;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid;
    border-radius: 20px;
}

.write-area{
    width: 240px;
    height: 80px;
    border: 1px solid;
    display: flex;
    position: absolute;
    top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.write-area label,
.write-area input{
    font-size: 20px;
    margin: 5px;
}

.write-area input{
    width: 170px;
    height: 25px;
}

.write-area .wrong-letter{
    width: 240px;
    height: 30px;
    position: absolute;
    top: 230px;
}

.login-area button{
    width: 110px;
    height: 40px;
    margin: 5px;
    border-radius: 15px;
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    box-shadow: 2px 2px 0 0;
}

.login-area .join-btn{
    right: 25px;
}

.login-area .login-btn{
    left: 25px;
}